.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

table {
  margin: 0 auto;
  border: 1px solid black;
}

.table-headers {
  margin: 15px;
  font-size: 1.5em;
}

th {
  border: 1px solid black;
}

button {
  margin: 10px auto;
}
